<article>

# Ази Svelte

Ну як заголовок вам і каже, в цій статті ми розглянемо ази користування Svelte.

Це будуть базові принципи створення компонентів яких притримуюсь я та загально прйняті практики.

</article>